.header {
    display: block;
    width: 100%;
    text-align: center;
    background: url(https://s1.postimg.org/1qlmzkttyn/bg2.jpg) no-repeat center center scroll;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 30px;
}

.profile-image {
    margin: auto;
    max-height: 250px;
    border: 6px solid #8c8c8c;
}

.header-name {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    margin-top: 35px;
}

.header-occupation {
    font-size: 1.3em;
    font-weight: bold;
    color: #5dc2d8;
}

.header-tagline {
    color: white;
}

.profil {
    background-color: green
    
}

.section {
    text-align: center;
    margin-bottom: 25px;
}

.section-title {
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}



#myeducation {
    background-color: #cecece;
    min-height: 500px;
}

.myeducation-container {
    padding: 30px;
    text-align: left;
}

.myeducation-underline {
    border-color: black;
}

.myeducation-year {
    border-left: 4px solid #ff8738;
    padding-left: 10px;
}



body {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}



#contact{
    padding-bottom: 50px;
}

.contact-input{
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

.contact-button{
    background-color: black;
    color: white;
    border-radius: 0px;
    width: 100%;
}

body{
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}


/*ABOUT*/

.about-info{
    text-align: left;
    border-bottom: dashed 1px;
    padding: 10px 10px 10px 0px;
}

.about-img{
    max-width: 450px;
    min-width: 300px;
    border: 6px solid #8c8c8c;
}

.about-img-container{
    float: right;
}

.row.row-eq-height {
    display: flex;
}

@media only screen and (max-width: 850px) {
    .about-img-container{
        float: none;
    }
    .row.row-eq-height {
        display: initial;
    }
}


/*ABOUT*/



/*MY SKILL*/

.myskill-bg-image {
    display: block;
    text-align: center;
    background: url(https://s1.postimg.org/1t33c5uy3z/bg1.png) no-repeat center center scroll;
    background-size: cover;
    height: inherit;
}

.myskill-title{
    color: white;
}

.myskill-container{
    padding: 30px;
    text-align: left;
    color: white;
}

.myskill-progress-title{
    padding: 10px 10px 10px 0px;
}

/*MY SKILL*/




/*FOOTER*/

footer {
    padding: 20px;
    background-color: black;
    color: white;
}

/*FOOTER*/

hr {
    margin-top: 5px;
    margin-bottom: 10px;
}
